{% extends 'cours.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Structures linéaires </h2>
    <p>
        La résolution des problèmes algorithmiques usuels fait apparaître certaines structures de données
        usuelles qui permettent de résoudre toute une famille de problèmes. Parmi ces structures, il y a trois
        structures linéaires que nous allons étudier plus en avant 
    </p>
    <ul>
        <li>les listes</li>
        <li>les piles</li>
        <li>les files</li>
    </ul>
    <p>
        Ces trois structures sont très liées entre elle, et les piles et les files peuvent être considérées comme des
        cas particuliers de listes. Nous allons aussi voir qu'il y a plusieurs façon de gérer ces structures usuelles, 
        en utilisant les tableaux dynamiques de python, la programmation objet ou des modules spécifiques.
    </p>
</div>
{% endblock %}