{% extends 'cours-python.twig.html' %}

{% block cours %}

<div class="cours">
    <h2> La notion de pile </h2>
    <p>
        Cette structure de pile est utilisée pour plein de problèmes en informatique.
    </p>

    <h3> Définition d'une pile</h3>
    <p>
        En informatique, une pile est une structure de données qui est définie par les opérations suivantes :
    </p>
    <ul>
        <li>On peut créer une pile vide</li>
        <li>On peut ajouter un élément au sommet de la pile (empiler)</li>
        <li>On peut enlever l'élément au sommet de la pile et avoir son contenu (dépiler) </li>
        <li>On peut savoir si une pile est vide</li>
    </ul>
    <p>
        La représentation concrête correspondant à cette notion informatique est la pile d'assiette. Vous ajoutez les assiettes sur le dessus de la pile, et 
        vous dépiler à partir du sommet de la pile. 
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" style="max-height:40vh;"
                src="ressources/linear-struct/assets/img/assiettes.png">
            <figcaption class="figure-caption"> Une pile d'assiette </figcaption>
        </figure>
    </div>
    <h3> Implémenter une pile en programmation objet </h3>
    <p>
        La programmation objet peut nous permette d'implémenter des piles assez facilement. Nous allons avoir besoin pour cela
        de définir deux classes. Tout d'abord une classe pour chaque élément de la pile, que l'on appellera la cellule.
            Cette classe comprend deux attributs : le contenu et l'élément suivant. 
            Si il n'y a pas d'élément suivant, c'est None.
        La définition de la cellule sera très simple. Il y a besoin de deux attributs : 
    </p>
    <ul>
        <li>le contenu, qui sera donné comme paramètre à la création</li>
        <li>le suivant, qui sera défini à None à la création</li>
    </ul>
    <pre><code class="python">class cellule:
    """ Classe qui modélise une cellule dans une structure linéaire """
    def __init__(self,element):
        self.contenu = element
        self.suivant = None</code></pre>
    <p>
        Cette classe peut être schématisée avec le schéma ci-dessous    
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" style="max-height:40vh;"
                src="ressources/linear-struct/assets/img/cellule.png">
            <figcaption class="figure-caption"> Une instance de la classe cellule </figcaption>
        </figure>
    </div>
    <p>
            Une classe pour la pile elle même, qui comprend un seul attribut : 
            le sommet de la pile, qui est None si la pile est vide, et une cellule sinon.
            Outre l'initialisation, la classe pile implémentera les méthodes suivantes :
    </p>
    <ul>
        <li>estVide() qui retourne un booléen valant True si la pile est vide, False sinon</li>
        <li>empiler(element) qui empile un élement au sommet de la pile</li>
        <li>depiler() qui enleve le sommet de la pile et renvoi son contenu</li>
    </ul>
    <p>
        On peut schématiser l'initialisation, l'empilement et le dépilement avec la figure ci-dessous
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" style="max-height:60vh;"
                src="ressources/linear-struct/assets/img/pile.png">
            <figcaption class="figure-caption"> Opérations sur une pile </figcaption>
        </figure>
    </div>

    <p>
        Le code de base de la classe pile, pour l'initialisation, sera simple
    </p>
    <pre><code class="python">class pile:
    """ Classe qui implémente une pile"""
    def __init__(self):
        self.sommet = None</code></pre>
    <p>
        La méthode qui permet de savoir si la pile est vide est assez évidente à écrire
    </p>
    <pre><code class="python">    def estVide(self):
        return self.sommet == None</code></pre>
    <p>
        La méthode pour empiler un élément s'appuye sur la classe cellule. On crée la cellule. 
        Le suivant de la nouvelle cellule est ce qui correspond au sommet actuel de la pile. 
        Puis le sommet de la pile est mis sur la cellule
    </p>    
    <pre><code class="python">  def empile(self,element):
        nouveau = cellule(element)
        nouveau.suivant = self.sommet
        self.sommet = nouveau</code></pre>
    <p>
        Pour dépiler, on doit mémoriser le contenu du sommet, puis renvoyer ce contenu à la fin. 
        On doit aussi mettre le pointeur du sommet sur le suivant du sommet actuel
    </p>
    <pre><code class="python">    def depile(self):
        valeur = self.sommet.contenu
        self.sommet = self.sommet.suivant
        return valeur</code></pre>

    <h3> En pratique </h3>

    <p>
        Nous avons maintenant défini un classe complête pour une pile. Nous allons pouvoir tester notre classe.
        Ouvrez l'éditeur Python en cliquant sur le bouton ci dessous et exécutez les consignes. Pour faciliter le travail, une méthode 
        affiche() a été ajoutée, qui permet d'afficher le contenu de la pile, en partant du sommet.
    </p>

    <div class="essais">
        <button type="button"  data-has-graphics="false" data-python-id="pile"
            data-active-tab='consigne'
            data-consigne-url="ressources/linear-struct/assets/consignes/pile_01.html"
            data-python-url="ressources/linear-struct/assets/python/pile.py"
            class="btn btn-success btn-python">
            Essayer le programme
        </button>
    </div>

</div>
<div class="cours">
    <h3> Exemple d'utilisation d'une pile : la pile d'exécution</h3>
    <p>
        Il y a un domaine où la pile est utilisée en informatique : la pile d'éxécution. Lorsqu'un programme s'exécute, 
        c'est le corps principal du programme qui s'exécute. Dès qu'il appelle une fonction, l'état du programme est préservé, 
        et la fonction appellée est positionnée dans la pile d'éxécution. Cette fonction peut elle même en appeler une autre et ainsi de suite.
        Lorsque la fonction a fini, elle est dépilée de la pile d'éxécution et le programme retourne là où il était au moment de l'appel. 
        La vidéo ci ci-dessous illustre la notion de pile d'éxécution dans le cadre d'une fonction récursive
    </p>
    <!-- Button trigger modal -->
    <div class="row">
        <div class="col">
            <div class="youtube text-center" data-video-id="eDfKl73TBj8"
                data-bs-target="#videoModal" data-bs-toggle="modal"
                data-video-title="Notion de pile d'éxécution"> 
            </div>
        </div>
    </div>
</div>
{% endblock %}