{% extends 'correction.twig.html' %}

{% block main %}
<div class="row">
    <div class="col" id="MD">
    </div>
</div>
<script>
    markdowns.highlight=true;
    markdowns.loadMD("ressources/linear-struct/assets/markdown/correction_NPI.md");
</script>
{% endblock %}