{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Application pratique d'une pile : calculatrice NPI </h2>
    <p>
        Dans les années 90, les calculatrices HP étaient très réputées dans le milieu scientifique 
        pour la richesse de leures fonctionnalités. Elles possédaient une autre particularité : 
        elles utilisaient la notation dite "polonaise inversée" pour effectuer les calculs. Cela signifie que l'on entrait 
        d'abord les éléments pour faire le calcul puis ensuite l'opérateur. Par exemple, pour effectuer l'opération 
        <b> 4 + 3 </b> on entrait successivement <b> 4 </b> puis <b>3 </b> et enfin <b>+</b>.
    </p>
    <div class="d-flex">
        <figure class="figure mx-auto">
            <img class="figure-img img-fluid img-rounded img-thumbnail" style="max-height:40vh;"
                src="ressources/linear-struct/assets/img/hp28c.jpg">
            <figcaption class="figure-caption"> Calculatrice HP 28C (source : HP museum) </figcaption>
        </figure>
    </div>
    <p>
        On peut donner encore d'autres exemples : pour calculer (2+3)*11 , on entrera la chaine de caractère <code>"2 3 + 11 *"</code>. 
        On aurait d'ailleurs le même résultat avec  la chaine de caractère <code>"11 2 3 + *"</code> qui représenterait 11*(2+3).
    </p>
    <p>
        L'algorithme pour calculer le résultat d'un calcul en notation polonaise inversé utilise une pile.
        On procéde de la façon suivante. Pour chaque élément de l'expression :
    </p>
    <ul>
        <li>si c'est un nombre on le place dans la pile</li>
        <li>si c'est un opérateur, on récupère les deux nombres au sommet de la pile et on leur applique l'opérateur (le premier sommet est à droite de l'opérateur, ce qui est important pour les soustractions et les divisions). 
            On empile ensuite le résultat
        </li>
    </ul>
    <p>
        Vous allez réaliser une calculatrice NPI à partir de la classe de pile que nous avons fait précedemment.
    </p>

    <div class="essais">
        <button type="button"  data-has-graphics="false" data-python-id="pile-npi"
            data-active-tab='consigne'
            data-consigne-url="ressources/linear-struct/assets/consignes/pile-npi.html"
            data-python-url="ressources/linear-struct/assets/python/pile-npi.py"
            class="btn btn-success btn-python">
            Faire une calculatrice NPI
        </button>
    </div>

</div>
{% endblock %}