{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Une autre implémentation d'une pile : le tableau dynamique  </h2>
    <p>
        Pour implémenter une pile, on peut utiliser des cellules comme celles de la classe Cellule que l'on a créé.
        Une autre possibilité est de créer une pile à partir d'un tableau. En effet, les tableaux en python sont des 
        tableau dynamique (i.e. ils peuvent changer de dimension) qui possédent deux méthodes particulièrement adapté 
        pour faire une pile
    </p>
    <ul>
        <li> La méthode <code>append</code> qui ajoute un élément à la fin du tableau 
            (<a href="https://docs.python.org/fr/3/tutorial/datastructures.html?highlight=list%20append" target="_blank">Documentation</a>)</li>
        <li> La méthode <code>pop</code> qui, sans argument, supprime l'élément à la fin du tableau et retourne sa valeur 
            (<a href="https://docs.python.org/fr/3/tutorial/datastructures.html?highlight=list%20pop" target="_blank">Documentation</a>)</li>
    </ul>
    <p>
        Ces deux méthodes correspondent bien, pour une pile à empiler et dépiler. Il ne reste alors qu'à implémenter la création de la pile vide 
        (qui n'est qu'un tableau vide) et la création de la fonction qui indique que la pile est vide ou pas.
    </p>
    <div class="essais">
        <button type="button"  data-has-graphics="false" data-python-id="pile-tableau"
            data-active-tab='consigne'
            data-consigne-url="ressources/linear-struct/assets/consignes/pile-tableau.html"
            data-python-url="ressources/linear-struct/assets/python/pile-tableau.py"
            class="btn btn-success btn-python">
            Faire une pile avec un tableau
        </button>
    </div>
</div>
{% endblock %}