{% extends 'cours-python.twig.html' %}

{% block cours %}
<div class="cours">
    <h2> Les files </h2>
    <p>Comme les piles, les files ont des points communs avec les listes. 
        Différences majeures : dans une file on ajoute des éléments à une extrémité de la file 
        et on supprime des éléments à l'autre extrémité. 
        On prend souvent l'analogie de la file d'attente devant un magasin pour décrire une file de données.
    </p>

    <p>Les files sont basées sur le principe FIFO 
        (First In First Out : le premier qui est rentré sera le premier à sortir. 
        Ici aussi, on retrouve souvent ce principe FIFO en informatique.
    </p>

    <p> Voici les opérations que l'on peut réaliser sur une file :</p>
    <ul>
        <li>on peut savoir si une file est vide </li>
        <li>on peut ajouter un nouvel élément à la file (enfiler)</li>
        <li>on peut récupérer l'élément situé en bout de file tout en le supprimant (défiler)</li>
    </ul>

<div class="exemple">
    <h6>Exemple</h6>
    
    <p>
        Soit une file F composée des éléments suivants : 12, 14, 8, 7, 19 et 22 
        (le premier élément rentré dans la file est 22 ; le dernier élément rentré dans la file est 12). 
        Pour chaque exemple ci-dessous on repart de la file d'origine :
    </p>
    <ul>
        <li>si on enfile 42 la file F est maintenant composée des éléments suivants : 42, 12, 14, 8, 7, 19 et 22 
            (le premier élément rentré dans la file est 22 ; le dernier élément rentré dans la file est 42)</li>
        <li>si on défile F,  la file F est maintenant composée des éléments suivants : 12, 14, 8, 7, et 19 
            (le premier élément rentré dans la file est 19 ; le dernier élément rentré dans la file est 12)</li>
        <li>si on défile F 6 fois de suite, la file est bien vide </li>
    </ul>
</div>

    <p>
        Vous allez implémenter une file en utilisant un tableau, et en reprenant une structure objet du même type que 
        pour la pile. Pour pouvoir mettre une valeur au début d'un tableau, on utilisera la méthode insert avec comme 
        paramètre 0 (voir 
        <a href="https://docs.python.org/fr/3/tutorial/datastructures.html?highlight=list%20insert" target="_blank">la documentation</a>)
    </p>
    <div class="essais">
        <button type="button"  data-has-graphics="false" data-python-id="file"
            data-active-tab='consigne'
            data-consigne-url="ressources/linear-struct/assets/consignes/file.html"
            data-python-url="ressources/linear-struct/assets/python/file.py"
            class="btn btn-success btn-python">
            Construire une classe de file
        </button>
    </div>
</div>
<div class="cours">
    <h4>Pour aller plus loin</h4>
    <p>
        Il y a d'autres méthodes usuelles que l'on trouve souvent pour les files :
    </p>
    <ul>
        <li> <code>premier</code> qui renvoie le premier élément de la file sans le défiler </li>
        <li> l'attribut <code>taille</code> qui indique le nombre d'élément de la file.</li>
    </ul>
    <div class="essais">
        <button type="button"  data-has-graphics="false" data-python-id="file"
            data-active-tab='consigne'
            data-consigne-url="ressources/linear-struct/assets/consignes/file.html"
            data-python-url="ressources/linear-struct/assets/python/file.py"
            class="btn btn-success btn-python">
            Rajouter ces éléments à la classe file
        </button>
    </div>
</div>
{% endblock %}