{% extends 'correction.twig.html' %}

{% block main %}
<div class="row">
    <div class="col">
        <table class="table mx-auto" style="   width: auto !important;">
            <thead>
                <tr>
                    <th></th>
                    <th > Objet </th> 
                    <th> points </th>   
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"> Devoir rendu dans le temps imparti</td>
                    <td> 2 </td>
                </tr>
                <tr>
                    <td rowspan="5">Lisibilité du code</td>
                    <td>respect de la 
                        <a href="https://openclassrooms.com/fr/courses/4425111-perfectionnez-vous-en-python/4464230-assimilez-les-bonnes-pratiques-de-la-pep-8" target="_blank">PEP8</a> 
                     (vérifiable <a href="http://pep8online.com/" target="_blank">en ligne</a>)</td>

                    <td>2</td>
                </tr>
                <tr>

                    <td>Commentaires présents et pertinents</td>
                    <td>1</td>
                </tr>
                <tr>

                    <td>Docstrings</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Organisation en fonctions claire</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Nom des variables compréhensible</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td rowspan="4">Programme</td>
                    <td>La file se remplit correctement</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>La pile fonctionne</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Le programme valide le HTML bien formé</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td> Les cas d'erreur sont gérés</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td rowspan="2">Interface</td>
                    <td> Le programme est facile à prendre en main</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td> Le vocabulaire et le langage sont appropriés</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <b>Total</b>
                    </td>
                    <td>
                        18
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{% endblock %}