<ol>
    <li>
        Compléter le code pour avoir une file opérationnelle.
    </li>
    <li>Dans l'éditeur, vous ajouterez du code pour réaliser les étapes ci dessous que vous éxécuterez à chaque fois pour vérifier. Vous ajouterez les nouvelles instructions sans effacer les anciennes</li>
<li>Créez une file vide</li>
<li>Affichez le résultat de la méthode <code>estVide()</code> de l'objet file</li>
<li>Ajouter un élément à la file</li>
<li>Affichez le résultat de la méthode <code>estVide()</code> de l'objet file</li>
<li>Affichez le contenu de la file</li>
<li>défiler l'élément</li>
<li>Affichez le contenu de la file</li>
<li>Au moyen d'une boucle enfilez successivement les carrés des nombres de 1 à 12</li>
<li>Affichez le contenu de la file</li>
<li>Si vous êtes en classe, appelez le professeur pour qu'il puisse valider votre travail</li>
</ol>