<p>
    Pour faire une calculatrice NPI, vous compléterez la fonction 
    <code>calcule(expression)</code> qui prend en entrée une chaine de caractère qui est une expression 
    en notation polonaise inversée, et qui renvoi en sortie la valeur du résultat. Si la chaine est bien 
    formée, la pile ne contient plus qu'un seul élément qui est le résultat. 
    Si la chaine est mal formée, la fonction doit renvoyer <code>None</code>
</p>
<p>
    Pour faciliter votre travail, la chaine est séparée en élements dans un tableau grâce à split, 
    et il n'y a plus qu'à boucler sur le tableau
</p>
<p>
    Des assertions ont été fournies pour vous aider à vérifier votre travail
</p>