<ol>
    <li> Modifier la classe <code>pileTableau</code> pour qu'elle fonctionne avec un tableau </li>
    <li> Testez votre travail en lançant le programme </li>
    <li> Dans la partie de tests, inversez les rôles de P1 et P2 puis relancez les tests </li>
    <li> En utilisant le module <code>time</code> et la fonction <code>time.process_time()</code>,
    on peut mesure le temps écoulé pendant un processus (voir 
    <a href="https://docs.python.org/3/library/time.html#time.process_time" target="_blank">la documentation</a>). 
    En utilisant cette fonction, vous allez mesurer le temps écoulé pour 10 000 empilage 
    et dépilage avec chacune des deux méthodes (pile avec des cellules ou avec un tableau)</li>
    <li>Si vous êtes en classe, appelez le professeur pour valider</li>
<ol>