<p>
   Vous compléterez la fonction <code>bonneParentheses(expression)</code>
   qui doit renvoyer <code>True</code> si l'expression est bien parenthésée, 
   <code> False </code> sinon.
</p>
<p>
    Le principe est simple. À chaque fois que l'on rencontre une parenthèse ouvrante, on la met dans la pile.
    À chaque fois que l'on rencontre une parenthèse fermante, si le sommet de la pile est une parenthèse ouvrante du même type, on dépile.
    Sinon, l'expression est mal parenthésée. À la fin, la pile doit être vide sinon, c'est mal parenthésée.
</p>
<p>
    Des assertions ont été fournies pour vous aider à vérifier votre travail
</p>