<ol>
<li>Dans l'éditeur, vous ajouterez du code pour réaliser les étapes ci dessous que vous éxécuterez à chaque fois pour vérifier. Vous ajouterez les nouvelles instructions sans effacer les anciennes</li>
<li>Créez une pile vide</li>
<li>Affichez le résultat de la méthode <code>estVide()</code> de l'objet pile</li>
<li>Ajouter un élément à la pile</li>
<li>Affichez le résultat de la méthode <code>estVide()</code> de l'objet pile</li>
<li>Affichez le contenu de la pile</li>
<li>dépiler l'élément</li>
<li>Affichez le contenu de la pile</li>
<li>Au moyen d'une boucle empilez successivement les carrés des nombres de 1 à 12</li>
<li>Affichez le contenu de la pile</li>
<li>Si vous êtes en classe, appelez le professeur pour qu'il puisse valider votre travail</li>
<ol>