<p>
    Pour faire une calculatrice, vous compléterez la fonction 
    <code>calculatrice(expression)</code> qui prend en entrée une chaine de caractère qui est une expression 
    en notation naturelle, et qui renvoi en sortie la valeur du résultat. Pour simplifier, 
    les termes de l'expression sont séparés par des espaces.
</p>
<p>
    Pour faciliter votre travail, la chaine est séparée en élements dans un tableau grâce à split, 
    et il n'y a plus qu'à boucler sur le tableau
</p>
<p>
    Des assertions ont été fournies pour vous aider à vérifier votre travail
</p>